<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/weather-icons.min.css') }}">
  <script type="text/javascript" src="{{url_for('static', filename='canvasjs.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='graph.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.2.1.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
</head>
<script type="text/javascript">
var apiTemp = {"prod": "getTemp","test": "getTempTest"};
var apiHum = {"prod": "getHum","test": "getHumTest"};
var apiRain = {"prod": "getRain","test": "getRainTest"};
var apiValve = {"prod": "getValveStatus","test": "getValveStatusTest"};

window.onload = function () {
  drawGraph("Humidity", "humidity", "%", apiHum["{{prod}}"]);
  drawGraph("Temperature", "temperature", "°C", apiTemp["{{prod}}"]);
  setInitialValveState(apiValve["{{prod}}"]);

  setInterval(function(){ getRainStatus(apiRain["{{prod}}"]); }, 5000);
}
</script>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="padding-top: 15px">
      <div class="well" style="margin-bottom: 15px">
        <div id="humidity" style="height: 320px; width: 100%;"></div>
      </div>
    </div>
    <div class="col-sm-6" style="padding-top: 15px">
      <div class="well" style="margin-bottom: 15px">
        <div id="temperature" style="height: 320px; width: 100%;"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="">
      <div class="well" style="margin-bottom: 15px">
        <div id="controls" style="height: 320px; width: 100%;">
          <p><b>Weather status:</b>
            <span id="rainStatus"></span>&nbsp&nbsp<i id="rainStatusIcon" class=""></i>
          </p>
          <b>Make your choice :</b>
            <div class="btn-group">
              <button id="buttonValve" type="button" class="btn btn-danger" style="pointer-events: none;"></button>
              <button id="dropdownValve" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Turn on</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Turn of</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" style="">
      <div class="well" style="margin-bottom: 15px">
        <div id="crons" style="height: 320px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
